.composition {
  position: relative;
  &__photo {
    width: 55%; // define width of img if possible because it scales well with the viewport
    box-shadow: 0, 1.5rem 4rem rgba($black-color, 0.4);
    outline-offset: 2rem;
    position: absolute;
    transition: all 0.2s;

    &--p1 {
      left: 0;
      top: -2rem; //makes the image go up slightly
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem; //makes the image go up slightly
    }

    &:hover {
      transform: scale(1.05) translateY(-0.5rem);
      outline: 1.5rem solid $primary-color;
      z-index: 1;
      box-shadow: 0, 1.5rem 4rem rgba($black-color, 0.5);
    }
  }

  // composiiton:hover compoition__photo:not(:hover)
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
