.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  // grid-row: 1 / 2;

  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  align-content: center;
  // row-gap: 4rem;
  gap: 5vh 2rem;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
    grid-template-columns: repeat(6, minmax(min-content, max-content));
    gap: 1vh 2rem;
    padding: 2rem 0;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: max-content max-content;
  }

  &__img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }

  &__info {
    &-name {
      color: white;
      font-size: 1.6rem;
      font-weight: 500;
    }
    &-stat {
      text-transform: uppercase;
      color: $color-grey-light-2;
    }
  }

  &__heading {
    grid-column: 1 / -1;
    justify-self: center;
  }
}
