/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$primary-color: #55c57a;
$primary-light-color: #7ed56f;
$primary-dark-color: #28b485;

$dark-grey-color: #777;
$grey_dark-color-2: #999;
$grey_dark-color-3: #333;

$grey-light-color-1: #f7f7f7;
$grey-light-color-2: #eee;
$white-color: #fff;
$black-color: #000;

$secondary-light-color: #ffb900;
$secondary-dark-color: #ff7730;

$tertiary-light-color: #2998ff;
$tertiary-dark-color: #5643fa;

// GRID
$grid-width: 114rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;

// font
$default-font-size: 1.6rem;
